In [1]:
#To add elements to tuple.
tup1=(1,2,"Ram","Shyam")
tup2=("Harry",)
tup3=tup1+tup2

In [2]:
tup3

(1, 2, 'Ram', 'Shyam', 'Harry')

In [3]:
#To convert in list.
list1=list(tup3)

In [4]:
list1

[1, 2, 'Ram', 'Shyam', 'Harry']

In [5]:
#To remove "Ram from list2"
list2=list1.pop(2)

In [6]:
list2

'Ram'

In [7]:
list1

[1, 2, 'Shyam', 'Harry']

In [8]:
#To convert in tuple.
tup3=tuple(list1)

In [9]:
tup3

(1, 2, 'Shyam', 'Harry')